
.header-heading {
font-size: 1.2rem;
text-align: center;
justify-content: center;
width: 100%;
color: black;
font-weight: bold;
background-image: linear-gradient(red,white, blue);
}

.header-span {
color: black;
font-size: 4 rem;
margin: auto;
text-align: center;
}
